@import 'base/stylesheet.scss';
@import 'libs/bootstrap-reboot.min';
// @import 'libs/normalize';
// @import 'libs/reset';

.container {
	width: 1440px;
	margin: 0 auto;
	border: 1px solid grey;
}

@import 'base/variables';
@import 'blocks/titles';
@import 'blocks/buttons';
@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/join';
@import 'blocks/feautures';
@import 'blocks/payback';
@import 'blocks/footer';
