.title {
    font-family: 'Poppins-600', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #0b132a;
}

.subtitle {
    font-family: 'Rubik-regular', sans-serif;
    font-size: 36px;
    line-height: 1;
    text-align: center;
}
