.title {
	font-family: 'Poppins-600';
	font-size: 48px;
	font-weight: 500;
	line-height: 50px;
	text-align: center;
	color: #0b132a;
}
.subtitle {
	font-family: 'Rubik-regular';
	font-size: 36px;
	line-height: 30px;
	text-align: center;
}
